[Desktop Entry]
Type=Service
Name=mediainfo-qt.desktop
ServiceTypes=KonqPopupMenu/Plugin,audio/*,video/*,image/*,application/x-flash-video
Actions=mediainfo-qt
X-KDE-Priority=TopLevel

[Desktop Action mediainfo-qt]
Name=MediaInfoQt
GenericName=Media Analyzer
Exec=mediainfo-qt %u
Icon=mediainfo
