[Unit]
Description=Kurento Media Server
After=network.target

[Service]
Restart=always
EnvironmentFile=-/etc/sysconfig/kms
ExecStart=/usr/bin/kurento-media-server $ARGS
#ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=default.target
